

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav"
        style=" margin-top: 0.6pc;border-right: 0.5px solid #ffffff; padding-top: 0.7pc; padding-left: 0.5pc; background-color: white; font-family: Product Sans; width:14pc; color:rgb(1, 62, 67)">
       

            <li><a style="font-size:22px; font-weight: bolder; color: rgb(1, 62, 67);"><i
                        class="fa fa-fw fa-database"></i> Inventory</a>
                <ul class="nav child_menu">
                    <li><a href="/admin/custmed" style="color: rgb(1, 62, 67); font-size: 17px;">Available Medicines</a></li>
                   
                </ul>
            </li>
    </ul>
</div>
</nav>