</div>

<script src="/assets/js/jquery.min.js"></script>

<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead.min.js"></script>


<script>


    $( function() {

        // $( "#user_dob" ).datepicker({ dateFormat: 'yy-mm-dd' });
        // $( "#join_date" ).datepicker({ dateFormat: 'yy-mm-dd' });

    });



</script>


</body>

</html>
