
<body style="font-family:Product Sans">

<div id="wrapper" class="">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:white ; color: rgb(4, 20, 20);" role="navigation">

        <div class="navbar-header " style="padding: 5px;">
            
            <a class="navbar-brand" style="color: rgb(8, 99, 102); font-size: 35px; font-weight: bold;" href="/admin"> Pharmacare Pharmacy</a>
        </div>
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" style="color: rgb(8, 99, 102); padding-top:1.3pc"data-toggle="dropdown"><i class="fa fa-user"></i> Hello, <span style="font-family: Product Sans;font-weight: bolder;"><%= user.username %></span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/admin/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
