<% include inc/view_header %>
    <% include inc/view_topmenu %>
        <% include inc/view_sidebar %>

            <div id="page-wrapper" style="font-family: Product Sans;">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header text-center">
                                New Sale
                            </h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped" id="mainTable">
                                <thead>

                                </thead>

                            </table>
                        </div>
                    </div>



                    <div class="row">

                        <form action="" method="POST">
                            <div class="col-lg-5 col-lg-offset-3">
                                <div class="form-group">
                                    <label for="invoice_number">Invoice Number</label>
                                    <input type="text" class="form-control" id="invoice_number" name="invoice_number"
                                        placeholder="Invoice Name" required>

                                </div>
                                <div class="form-group">
                                    <label for="entry_date">Entry Date</label>
                                    <input type="text" class="form-control" name="entry_date" id="entry_date" required
                                        readonly>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <tr>
                                    <th>Medicine Name</th>
                                    <th>Quantity</th>
                                    <th>Sell Price</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="getMedicineName" name="typeahead"
                                            class="typeahead tt-query form-control" autocomplete="off"
                                            spellcheck="false" placeholder="Enter Product Name" />
                                    </td>
                                    <td>
                                        <input type="number" min="0" id="getQuantity" class="form-control" />
                                    <td>
                                        <input type="number" min="0" id="getSellPrice" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" id="getAmount" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="button" id="btnAdd" value="Add to list" class="btn dark-blue" />
                                    </td>
                                </tr>
                            </table>
                    </div>

                    <div style=" background-color:#34495e; color:white; padding:10px;">Purchase Items List</div>
                    <div id="orderItems" style="height:260px; overflow-y:scroll; border:1px solid #BFAEAE;">
                    </div>
                    <div align="right">
                        <br />
                        <button type="button" id="btnNext" class="btn dark-blue btn-block">
                            Proceed to Checkout
                        </button>
                    </div>
                    <br />
                    <br />

                    <div class="col-lg-5 col-lg-offset-3">

                        <div class="form-group">
                            <label for="totalAmount">Total Amount</label>
                            <input type="text" class="form-control" id="totalAmount" name="totalAmount"
                                placeholder="Total Amount" required>

                        </div>

                        <div class="form-group">
                            <label for="discount">Discount(%)</label>
                            <input type="text" class="form-control" id="discount" name="discount"
                                placeholder="Discount">

                        </div>

                        <div class="form-group">
                            <label for="discountAmount">Discount Amount</label>
                            <input type="text" class="form-control" id="discountAmount" name="discountAmount"
                                placeholder="Discount Amount">

                        </div>

                        <div class="form-group">
                            <label for="totalPayable">Total Payable</label>
                            <input type="text" class="form-control" id="totalPayable" name="totalPayable"
                                placeholder="Total Payable" required>

                        </div>
                        <label for="">Credit Card Info</label><br><br>
                        <div class="form-group">
                            <label for="totalPayable">Card Number</label>
                            <input type="number" class="form-control" id="cardnumber" name="cardnumber" maxlength="16"
                                minlength="16" placeholder="16 Digit Number" required> <br>
                            <input type="date" class="form-control" id="expdate" name="expdate"
                                placeholder="Card Expiry" required> <br>
                            <input type="text" class="form-control" id="cvv" name="cvv" maxlength="3" minlength="3"
                                placeholder="CVV" required>
                        </div> <br>

                        <div class="form-group">
                            <label for="paid">Paid</label>
                            <input type="text" class="form-control" id="paid" name="paid" placeholder="Paid">

                        </div>

                        <div class="form-group">
                            <label for="return">Return</label>
                            <input type="text" class="form-control" id="return" name="return" placeholder="Return">

                        </div>
                        <br />
                        <br />

                        <input type="submit" id="submitsale" class="btn btn-success btn-block" name="submit"
                            value="Submit New Sell">
                    </div>

                    </form>
                </div>

                <hr>

            </div>


            </div>

            <% include inc/view_footer.ejs %>


                <script type="text/javascript">
                    $(document).ready(function () {
                        $('input.typeahead').typeahead({
                            name: 'medicine',
                            remote: 'http://localhost:5000/search?key=%QUERY',
                            limit: 25
                        });

                        Date.prototype.loadDateVaue = (function () {
                            var dt = new Date(this);
                            dt.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                            return dt.toJSON().slice(0, 10);
                        });
                        document.getElementById('entry_date').value = new Date().loadDateVaue();
                        document.getElementById('invoice_number').value = Math.floor(Math.random() * 90000) + 10000;
                    });
                </script>

                <script>
                    $("#getMedicineName").keyup(function () {
                        $.ajax({
                            url: "/admin/medicineSearch/",
                            data: $('#getMedicineName').val(),
                            success: function (result) {
                                $("#getMedicineName").val(result);
                            }
                        });
                    });

                    document.getElementById('mainTable').onclick = function (event) {
                        event = event || window.event;
                        var target = event.target || event.srcElement;
                        while (target && target.nodeName != 'TR') {
                            target = target.parentElement;
                        }
                        var cells = target.cells;
                        if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                            return;
                        }
                        $(function () {
                            $('#getMedicineName').val($.trim(cells[1].innerHTML));
                            $('#getSellPrice').val($.trim(cells[4].innerHTML));
                        });
                        $('#getQuantity').val('');
                        $('#getAmount').val('');
                        document.getElementById('getQuantity').focus();
                    }
                    $('#getQuantity').keyup(function () {
                        var available = Number($('#getAvailability').val());
                        var quantity = Number($('#getQuantity').val());

                        if (document.getElementById('getMedicineName').value == 'ACE') {
                            var sellPrice = 10;
                        }
                        else if (document.getElementById('getMedicineName').value == 'ACETRAM') {
                            var sellPrice = 16;
                        }
                        else if (document.getElementById('getMedicineName').value == 'ADOVAS SYP 200') {
                            var sellPrice = 25;
                        }
                        else if (document.getElementById('getMedicineName').value == 'AFUN CRM') {
                            var sellPrice = 18;
                        }
                        else if (document.getElementById('getMedicineName').value == 'ADRYL SYP') {
                            var sellPrice = 32;
                        }
                        else if (document.getElementById('getMedicineName').value == 'ALACOT 0.10%') {
                            var sellPrice = 23;
                        }
                        else if (document.getElementById('getMedicineName').value == 'ALMEX SUSP') {
                            var sellPrice = 60;
                        }
                        else if (document.getElementById('getMedicineName').value == 'ALACOT 0.025%') {
                            var sellPrice = 75;
                        }
                        else if (document.getElementById('getMedicineName').value == 'AMBROX 75') {
                            var sellPrice = 20;
                        }

                        document.getElementById('getSellPrice').value = sellPrice
                        // var sellPrice = Number($('#getSellPrice').val());
                        if (quantity > available) {
                            $('#getQuantity').val(available);
                            quantity = available;
                        }
                        var amount = (quantity * sellPrice).toFixed(2);
                        $('#getAmount').val(amount);
                    });

                    $('#getSellPrice').keyup(function () {
                        var available = Number($('#getAvailability').val());
                        var quantity = Number($('#getQuantity').val());
                        var sellPrice = Number($('#getSellPrice').val());
                        if (quantity > available) {
                            $('#getQuantity').val(available);
                            quantity = available;
                        }
                        var amount = (quantity * sellPrice).toFixed(2);
                        $('#getAmount').val(amount);
                    });

                    $('#getAmount').focus(function () {
                        var available = Number($('#getAvailability').val());
                        var quantity = Number($('#getQuantity').val());
                        var sellPrice = Number($('#getSellPrice').val());
                        if (quantity > available) {
                            $('#getQuantity').val(available);
                            quantity = available;
                        }
                        var amount = (quantity * sellPrice).toFixed(2);
                        $('#getAmount').val(amount);
                    });



                    var purchaseItems = [];
                    $('#btnAdd').on('click', function () {

                        if ($('#getQuantity').val() == '' || $('#getQuantity').val() == 0 || !$.isNumeric($(
                            '#getQuantity').val())) {
                            alert('Please Enter Quantity!');
                        } else if ($('#getSellPrice').val() == '' || $('#getSellPrice').val() == 0 || !$.isNumeric($(
                            '#getSellPrice').val())) {
                            alert('Please Enter Sell Price!');
                        } else if ($('#getMedicineName').val() == '' || $('#getMedicineName').val() == 0) {
                            alert('Please Enter Medicine Name!');
                        } else if ($('#getAmount').val() == '' || $('#getAmount').val() == 0 || !$.isNumeric($(
                            '#getAmount').val())) {
                            alert('Not A Valid Amount!');
                        }
                        else {
                            purchaseItems.push({
                                Medicine_Name: $('#getMedicineName').val(),
                                Quantity: $('#getQuantity').val(),
                                Cost: $('#getSellPrice').val(),
                                Amount: $('#getAmount').val()
                            });

                            if (purchaseItems.length > 0) {
                                var $table = $('<table class="table table-bordered" id="mytable" border="1" cellpadding="10"/>');
                                $table.append(
                                    '<thead><tr><th>Medicine Name</th><th>Quantity</th><th>Rate</th><th>Amount</th></tr></thead>'
                                );
                                var $tbody = $('<tbody/>');

                                $.each(purchaseItems, function (i, val) {
                                    var $row = $('<tr class="salesItemsRows"/>');
                                    $row.append($('<td />').html(val.Medicine_Name));
                                    $row.append($('<td class="tdQuantity"/>').html(val.Quantity));
                                    $row.append($('<td class="tdSellPrice"/>').html(val.Cost));
                                    $row.append($('<td/>').html(val.Amount));
                                    $tbody.append($row);
                                });
                                $table.append($tbody);
                                $('#orderItems').html($table);

                                $(function () {
                                    $clear = '';
                                    $('#getMedicineName').val('');
                                    $('#getQuantity').val('');
                                    $('#getSellPrice').val('');
                                    $('#getAmount').val('');
                                });
                            } else {
                                alert("List is empty !");
                            }
                        }

                    });

                    $('#expdate').on('click', function () {
                        var cl = document.getElementById("cardnumber").value;
                        if (cl.length == 16) {

                        }
                        else {
                            alert("Enter a 16 Digit Card Number");
                        }

                    });
                    $('#cvv').on('click', function () {

                        Date.prototype.loadDateVaue = (function () {
                            var dt = new Date(this);
                            dt.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                            return dt.toJSON().slice(0, 10);
                        });

                        var exdatevalue = document.getElementById("expdate").value;
                        var today = new Date().loadDateVaue();

                        if (exdatevalue < today) {
                            alert("Invalid Expiry Date");
                        }
                        else {

                        }



                    });

                    $('#submitb').on('click', function () {
                        var cl = document.getElementById("cvv").value;
                        if (cl.length == 3) {
                            alert("Purchase Successful");
                        }
                        else {
                            alert("Enter valid CVV");
                            return false;
                        }

                    });


                    $('#btnNext').on('click', function () {

                        var isAllValid = true;

                        if (purchaseItems.length == 0) {
                            isAllValid = false;
                            alert('Please Add items to purchase!');
                        } else {
                            var subTotal = 0;
                            var total = 0;
                            $('#totalAmount').val('');
                            $('#discount').val('');
                            $('#totalPayable').val('');

                            $('#mytable tr').each(function () {
                                var quantity = $.trim($(this).find(".tdQuantity").html());
                                var sellPrice = $.trim($(this).find(".tdSellPrice").html());
                                total = Number(quantity) * Number(sellPrice);
                                subTotal += total;
                            });

                            $('#totalAmount').val(subTotal);
                            $('#totalPayable').val(subTotal);
                        }
                    });

                    $('#discount').keyup(function () {
                        var amount = Number($('#totalAmount').val());
                        var discount = Number($('#discount').val());

                        var discountAmount = (amount * discount) / 100;
                        var totalPayable = (amount - discountAmount).toFixed(2);
                        $('#discountAmount').val(discountAmount);
                        $('#totalPayable').val(totalPayable);

                        $('#paid').keyup(function () {

                            var paid = Number($('#paid').val());

                            var returned = (paid - totalPayable).toFixed(2);

                            $('#return').val(returned);
                        });
                    });
                </script>